@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$new-theme-colors: (
  "primary": rgb(117, 80, 254),
  "bt-main-color": rgb(26, 203, 152),
  "background": rgb(244, 242, 238),
  "orange": rgb(202, 118, 7),

  );

$theme-colors: map-merge($theme-colors, $new-theme-colors);

$new-position: (
  5: 5%,
  10: 10%,
  20: 20%,
  80: 80%,
  "vai-sotto": -14%,
);
$position-values: map-merge($position-values, $new-position);
@import "~bootstrap/scss/bootstrap";
